---
interface Props {
  title: string;
  description: string;
  isError?: boolean;
}

const { title, description, isError = false } = Astro.props;
---

<li class={`guestbook-system ${isError ? "guestbook-system_error" : ""}`}>
  <h3 class="guestbook-system__title text-wrap">{title}</h3>
  <p class="guestbook-system__description text-wrap">
    {description}
  </p>
</li>

<style>
  .guestbook-system {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.25rem;
    border-radius: 1.5rem;
    background: var(--surface-bg);
  }

  .guestbook-system_error {
    background: var(--primary-surface-bg);
  }

  .guestbook-system__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .guestbook-system__description {
    color: var(--text-muted);
  }
</style>
