<div class="about-card">
  <h2>About me</h2>
  <p>My name is <span style="color: var(--primary-color)">Ilya</span></p>
  <p>
    My birthday is <span style="color: var(--primary-color)"
      >September 14th</span>
  </p>
</div>

<style>
  .about-card {
    background: var(--surface-bg);
    padding: 1rem 1.25rem;
    border-radius: 1rem;
  }
</style>
