---
import BlogHero from "../components/Blog/BlogHero.astro";
import BlogPostList from "../components/Blog/BlogPostList.astro";
import { blogPosts } from "../data/blog";
import Layout from "../layouts/Layout.astro";

const tags = Array.from(new Set(blogPosts.map((post) => post.tag)));
---

<Layout title="Blog">
  <section class="blog-page">
    <BlogHero tags={tags} />
    <BlogPostList posts={blogPosts} />
  </section>
</Layout>

<style>
  .blog-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
  }
</style>
