---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ProjectItem from "../components/Project/ProjectItem.astro";
import PageSection from "../components/PageSection/PageSection.astro";
import Project from "../components/Project/Project.astro";
import Stats from "../components/Stats/Stats.astro";
import GuestbookContent from "../components/Guestbook/GuestbookContent.astro";
import GuestbookHero from "../components/Guestbook/GuestbookHero.astro";
---

<Layout title="Home">
  <Hero />
  <PageSection
    title="Projects"
    link={{
      href: "hello",
      name: "View all",
    }}
  >
    <Project>
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
    </Project>
  </PageSection>
  <PageSection title="Stats">
    <Stats />
  </PageSection>

  <section class="guestbook-section" data-reveal>
    <GuestbookHero />
    <GuestbookContent />
  </section>
</Layout>

<style>
  .guestbook-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
  }

  @media screen and (max-width: 500px) {
    .guestbook-section {
      padding: 0.5rem;
    }
  }
</style>
