@import '~/assets/styles/colors.scss';
@import '~/assets/styles/modal.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  background: $background;
  color: $white;
}

#__nuxt {
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    max-width: 1280px;
  }
}

a {
  text-decoration: none;
  color: $white-600;
  transition: all 0.3s ease;
  &:hover {
    color: $white;
  }
}

.icon {
  width: 1rem !important;
  height: 1rem !important;
  line-height: 1rem !important;
  font-size: 1rem !important;
}

.text-gradient {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1279px) {
    padding: 1rem;
  }

  @media screen and (min-width: 1280px) {
    padding: 1rem 0;
  }

  .logo {
    color: $primary;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease;
    &:hover {
      color: $white;
    }
  }
  .navbar {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      .navbar-item {
        margin-left: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .menu-btn {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 40px;
}

.btn-invisible {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  .icon.big-icon {
    width: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    font-size: 1.5rem !important;
    margin-right: 0.5rem;
  }
  .text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    .locales {
      font-weight: 600;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-row {
  display: flex;
  flex-direction: row;
  .menu {
    display: flex;
    flex-direction: row;
  }
  .menu-content {
    margin-top: 30px;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 40px;
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .menu-item {
    padding: 10px;
    transition: all 0.3s ease;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  position: absolute;
  margin-top: 40px;
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .dropdown-item {
    cursor: pointer;
    background: $background-second;
    border-radius: 8px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    * {
      background: $background-second;
      transition: all 0.3s ease;
    }
    &:hover {
      background: $background-third;
      * {
        background: $background-third;
      }
    }
  }
}

.wrapper {
  margin-top: 50px;
  @media screen and (max-width: 1279px) {
    padding: 0 1rem;
  }
}

.text-attractive {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  @media screen and (min-width: 768px) {
    max-width: 850px;
  }
}

.subtext-attractive {
  margin: 30px 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  @media screen and (min-width: 768px) {
    max-width: 1000px;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 15px;
  .tag {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    background: $background-third;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
  }
}

.sections {
  margin-top: 100px;
  .sections-items {
    display: flex;
    flex-wrap: wrap;
    .section-item {
      margin: 25px;
      @media screen and (max-width: 767px) {
        width: 95%;
      }
      @media screen and (min-width: 768px) and (max-width: 1027px) {
        width: 42.5%;
      }
      @media screen and (min-width: 1028px) {
        width: 45%;
      }
      .section-title {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin-bottom: 10px;
      }
      .section-description {
        font-size: 1.25rem;
        margin-bottom: 20px;
      }
      .section-image {
        border-radius: 0.5rem;
        cursor: pointer;
        width: 100%;
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  background: linear-gradient(to right, #fc466b, #3f5efb);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
  transition: all 2s ease;
  &:hover {
    background: $white;
    color: $primary;
  }
}

.image-viewer {
  width: 100%;
  height: 100%;
}