<footer class="footer">
  <p class="footer-text">
    Made with ❤️ by <a class="footer-link" href="/">Toil</a>
  </p>
</footer>

<style>
  .footer {
    width: 100%;
    padding: 60px 0;
    text-align: center;
  }

  .footer-link {
    color: var(--text-muted);
    transition: color 0.25s ease;
  }

  .footer-link:hover {
    color: var(--text-hover-color);
  }
</style>
