#content_centered_flex {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#content_centered {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

@media screen and (min-width: 1px) and (max-width: 999px) {
    #content_centered_flex {
        position: fixed;
        top: 1vh;
        left: 1vh;

        transform: none;
    }
}